# --- CORE API & WEB FRAMEWORK ---
fastapi
uvicorn[standard]
python-dotenv
requests
numpy
# --- GEMINI EMBEDDINGS ---
google-generativeai
langchain-google-genai
langgraph
sentence-transformers
# --- VECTOR DB & RETRIEVAL ---
qdrant-client

unstructured
python-pptx
python-docx
pypdf
beautifulsoup4
pdfplumber
# --- OBSERVABILITY & DISTRIBUTED TRACING ---
logfire[fastapi,requests]
loguru
flashrank

#ui
streamlit