# --- CORE API & WEB FRAMEWORK ---
fastapi
uvicorn[standard]
python-dotenv
requests
numpy

# --- GEMINI EMBEDDINGS ---
google-generativeai
langchain-google-genai
langgraph
sentence-transformers

# --- VECTOR DB & RETRIEVAL ---
qdrant-client
unstructured
python-pptx
python-docx
pypdf
beautifulsoup4
pdfplumber

# --- OBSERVABILITY & DISTRIBUTED TRACING ---
logfire[fastapi,requests]
loguru
flashrank

# --- UI ---
streamlit

# --- GUARDRAILS ---
nemoguardrails
langchain-nvidia-ai-endpoints
langchain-google-vertexai

# --- GATEWAY ---
portkey-ai
langchain-openai

# --- EVALUATION ---
ragas==0.4.3
langchain-community==0.3.31
deepeval
langfuse
pandas
openai

# --- LLM ---
langchain-groq